<head>
    <meta http-equiv="refresh" content="5;url=<%= "/" %>"
</head>


<%- model_class = @visitor.class -%>
<div class="page-header text-align:center">
  <h1 align="center">Welcome to Herrera, <%= @visitor.name %>.</h1>
  <h2 align="center">You successfully signed in at <%= @visitor.created_at.strftime("%I:%M%p") %>.</h2>
 <!--  <h2 align="center">Please don't forget to sign out as you leave.</h2> -->

</div>

