<h1>View Sign Ins</h1>
<%= link_to "Visitors", visitors_path %>
<%= link_to "Student Check Out", student_check_outs_path %>
<%= link_to "HISD Employees", hisd_employees_path %>
<%= link_to "Home", "/" %>
